<html>
<head>
        <link rel="stylesheet" href="styles.css">
</head>
<body>
    <form action="/add" method="POST">
        <label>Task Name</label>
        <input type="text" name="name"/> </br>
        <label>Assign to</label>
        <input type="text" name="assign" /> </br>
        <label>Task Due</label>
        <input type="date" name="due" /> </br>
        <label>Task status</label>
        <input type="radio" name="status" value="InProgress" />In progress
        <input type="radio" name="status" value="Complete" />Complete</br>
        <label>Task Desc</label>
        <input type="text" name="desc" /> </br>
        <input type="submit" value="submit"/>
    </form>
    <h1>
        <a href="/">Home</a>
    </h1>
    
</body>
</html>