<html>
<head>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Delete Task</h1></br>
    <h1>
        <a href="/addnew">Add new task </a>
        <a href="/list">List all tasks </a>
        <a href="/">Home </a>
        <a href="/update">Update task </a>
        <a href="/deleteall">Delete all tasks </a>

    </h1>
    <form action="/deleteone" method="POST">
        Task id <input type="text" method="POST" name="_id" /> </br>
        <input type="submit" value="Submit" /> </br>
    </form>
</body>
</html>