<html>
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>

    <body>
        <table>
            <tr> 
                <th>ID</th>
                <th>Name</th>
                <th>Assign to</th>
                <th>Due Date</th>
                <th>Task status</th>
                <th>Description</th>
            </tr>
            <% for(let i=0; i<mydata.length;++i){%>
                <tr>
                    <td><%=mydata[i]._id%></td>
                    <td><%=mydata[i].name%></td>
                    <td><%=mydata[i].assign%></td>
                    <td><%=mydata[i].due%></td>
                    <td><%=mydata[i].status%></td>
                    <td><%=mydata[i].desc%></td>

                </tr>
            <%}%>
        </table>

        <h1>
            <a href="/">Home</a>
            <a href="/addnew">Add new task </a>
            <a href="/delete">Delete task </a>
            <a href="/update">Update task </a>
            <a href="/deleteall">Delete all tasks </a>
            <a href="/newdeveloper">Add new developer </a>
            <a href="/listdeveloper">List developer </a>

        </h1>
    </body>
</html>