<html>
<head>
        <link rel="stylesheet" href="styles.css">
</head>
<body>
    <form action="/newdeveloper" method="POST">
        <label>Developer First Name</label>
        <input type="text" name="firstname"/> </br>
        <label>Developer Last Name</label>
        <input type="text" name="lastname"/> </br>
        <label>Level</label>
        <input type="radio" name="level" value="beginner" />Beginner
        <input type="radio" name="level" value="expert" />Expert</br>
        <label>State</label>
        <input type="text" name="state" /> </br>
        <label>Suburb</label>
        <input type="text" name="suburb" /> </br>
        <label>Street</label>
        <input type="text" name="street" /> </br>
        <label>Unit</label>
        <input type="text" name="unit" /> </br>
        <input type="submit" value="submit"/>
    </form>
    <h1>
        <a href="/">Home</a>
        <a href="/addnew">Add new task</a>
    </h1>
    
</body>
</html>